body {
  width: auto;
  background-color: #000000;
  color: lightgray;
  margin: 0px;
  font-size: 25px;
  font-family: "BebasNeueRegular";
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}
header {
  height: 100%;
  text-align: center;
}
.header_nav {
  width: 100%;
}
.thomyorke {
  margin: 15px 0px;
}
.nav_text:link,
.footer_text:link {
  color: white;
  text-decoration: none;
}
.nav_text:visited,
.footer_text:visited {
  color: white;
}
.nav_text:hover,
.footer_text:hover {
  text-decoration: none;
  color: #ff4e00;
}
.nav_text,
.nav_div {
  margin: 0px 15px;
  display: inline;
  position: relative;
}
.discos {
  border: 1px outset lightslategrey;
  list-style-type: none;
  width: 300px;
  padding: 15px;
  background-color: #000000;
  display: none;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: auto;
  text-align: left;
}
.nav_div:hover .discos {
  color: #ff4e00;
  display: block;
}
.main_footer {
  margin: 20px 0px 10px 0px;
}
.footer_text {
  margin: 0px 5px;
}
.name_data,
.budget_data,
.form_cmmt {
  width: fit-content;
  margin: auto;
  text-align: right;
}
.span_title {
  text-align: center;
}
.field_set {
  text-align: center;
  margin: 0px;
}
.checkbox_ctc {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.chckbx_name {
  display: inline-block;
  margin: 0px 10px;
}
.contact_info,
.budget_info {
  float: left;
  margin: 0px 100px;
  height: 100%;
}
select,
input[type="date"] {
  font: inherit;
  font-size: medium;
  height: 20px;
  width: 200px;
}
.span_bold {
  color: #ffffff;
}
/*input:required  {
    border: 1px dashed  red;
}*/
.form_title {
  color: #ff4e00;
}
textarea {
  height: 75px;
  width: 250px;
  vertical-align: top;
}
#contact {
  text-align: center;
  width: fit-content;
  margin: auto;
}
.form_fld {
  height: 20px;
  width: 200px;
  border-radius: 4px;
  margin-left: 5px;
  vertical-align: middle;
}
.form_data {
  margin: 10px 0px;
  height: max-content;
  display: block;
}
.bttns {
  height: 30px;
  width: fit-content;
  margin: 20px 10px;
  font: inherit;
  background-color: ghostwhite;
  font-size: 1.5rem;
}
.form_cmmt {
  display: block;
  margin: 15px auto;
}
