body {
  width: auto;
  background-color: #000000;
  color: lightgray;
  margin: 0px;
  font-size: 25px;
  font-family: "BebasNeueRegular";
  font-weight: normal;
  font-style: normal;
}
header {
  height: 100%;
  text-align: center;
}
.header_nav {
  width: 100%;
}
.thomyorke {
  margin: 15px 0px;
}
.nav_text:link,
.footer_text:link {
  color: white;
  text-decoration: none;
}
.nav_text:visited,
.footer_text:visited {
  color: white;
}
.nav_text:hover,
.footer_text:hover {
  text-decoration: none;
  color: #ff4e00;
}
.nav_text,
.nav_div {
  margin: 0px 15px;
  display: inline;
  position: relative;
}
.discos {
  border: 1px outset lightslategrey;
  list-style-type: none;
  width: 300px;
  padding: 15px;
  background-color: #000000;
  display: none;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: auto;
  text-align: left;
}
.nav_div:hover .discos {
  color: #ff4e00;
  display: block;
}
.main_footer {
  margin: 20px 0px 10px 0px;
  text-align: center;
}
.footer_text {
  margin: 0px 5px;
}
.album_title,
.video_title {
  font-size: 2rem;
}
.new_album_block {
  text-align: center;
}
img {
  height: 500px;
  width: auto;
  margin: 0;
}
.ytube {
  height: 250px;
  width: 600px;
  margin: 20px 0px;
}
.player {
  display: block;
  position: fixed;
  border: 0;
  margin: 0;
  bottom: 20px;
  right: 20px;
}
.player iframe {
  height: 80px;
  width: 300px;
}
.signup_title {
  margin: 0px 5px;
}
.signup_data {
  height: 20px;
  width: 200px;
  border-radius: 4px;
  margin-left: 5px;
  vertical-align: middle;
}
#subscribe,
.form_sct {
  width: auto;
  text-align: center;
  display: block;
}
legend {
  margin: 10px 0px;
}
.bttns {
  height: 30px;
  width: fit-content;
  margin: 20px 10px;
  font: inherit;
  background-color: ghostwhite;
  font-size: 1.5rem;
}
.legend_form {
  color: white;
}
